section {
    width: 100%;
}

input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin: 12px 0;
    background-color: #dadede;
}

button {
    cursor: pointer;
}
  
.button {
    width: 60%;
    max-width: 400px;
    height: 60px;
    background: #72a2cf;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin: 16px auto; 
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    border-radius: 25px;
    box-shadow:0px 4px 6px #2522229d ;
}
  
.button:hover {
    filter: brightness(90%);
}

.main {
    margin: 10px 20px;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #536DFE;
    color: #FFFFFF;
    text-align: center;
    line-height: 10vh;
}

.result {
    font-family: 'IBM Plex Mono', monospace;
    overflow-wrap: break-word;
}

.result .card {
    box-shadow: 0 2px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    background-color: #ECEFF1; 
    margin: 10px 0;
    padding: 5px;
}

.result .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.result .card > :first-child {
    background: rgba(88, 150, 231, 0.829);
    font-weight: bold;
    text-align: center;
    padding: 3px;
    color: rgb(25, 29, 41);
}

@media screen and (min-width: 900px) {
    .main {
        margin: 20px 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    section {
        margin: 0 15px;
    }
    
  }